body {
    background-image: url("/static/img/bg1.jpg");
}


#mash {
    margin-top: 400px;
    margin-left: 700px;
    

}


#title {
    font-size: 120px;
    font-weight: 700;
    text-decoration: none;
    color: red;
    
}

p {
    color: red;
}